@import "normalize.css";        /* Clear default browser css crap */

*, *::before, *::after {
    box-sizing: border-box;     /* Border-box sizing everywhere */
}

/*
    Page layout w/ CSS grid
*/
html, body {
    height: 100vh;
    margin: 0;
}

body {
    display: grid;
    grid-template-rows:    auto minmax(200px, 3fr) minmax(200px, 2fr);
    grid-template-columns: minmax(200px, 2fr) minmax(200px, 2fr) minmax(200px, 3fr);
    grid-template-areas: "title  title  title "
                         "imgA   imgA   params"
                         "imgB   imgB   params";
    gap: 0.5em;
    padding: 1em;
}

header {
    grid-area: title;
}

.preview {
    overflow: auto;
    display: flex;
}
.preview.live {
    grid-area: imgA;
    object-fit: cover;
}
.preview.other {
    grid-area: imgB;
    object-fit: cover;
}
img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}

.parameters {                  /* Param container */
    grid-area: params;
    padding: 0;
    margin: 0;
    max-height: 100%;
    overflow: auto;

    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.parameters li {                /* Param items */
    padding: 0.5em;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

.parameters label {
    flex: 1 0 15ch;             /* min width = XX characters (ch) */
    align-self: center;
}
.parameters input {
    flex: 1 0 15ch;
    min-width: 15ch;
}
